
/* Keyframes */
/* Animação para tremer quando erra o login */
@keyframes wiggle {
	0%, 7% {
		transform: rotateZ(0);
	}
	15% {
		transform: rotateZ(-15deg);
	}
	20% {
		transform: rotateZ(10deg);
	}
	25% {
		transform: rotateZ(-10deg);
	}
	30% {
		transform: rotateZ(6deg);
	}
	35% {
		transform: rotateZ(-4deg);
	}
	40%, 100% {
		transform: rotateZ(0);
	}
}

/* Animação pra rodar a bordar do butão de login */
@keyframes rotate {
	0% {
		transform: rotate( 0deg );
	}
	100%{
		transform: rotate( 360deg );
	}
}