<div class="dark-light">
	<div is="m-bring" data-src="../img/moon.svg"></div>
</div>

<div class="app">
	<div class="header">
		<div class="search-bar">
			<input type="text" placeholder="Search">
		</div>

		<div class="header-profile">
			<div class="notification">
				<span class="notification-number">3</span>
				<div is="m-bring" data-src="../img/bell.svg"></div>
			</div>

			<div is="m-bring" data-src="../img/cloud.svg"></div>
			<img draggable="false" class="profile-img" src="../img/users/default.png" alt="">
		</div>
	</div>

	<div class="wrapper">
		<div is="m-bring" data-src="../templates/sidebar.html"></div>

		<div class="main-container">
			<div class="content-wrapper">
				<div class="content-wrapper-header">
					<div class="content-wrapper-context">
						<h3 class="img-content">
						</h3>

						<div class="content-text">Grab yourself 10 free images from Adobe Stock in a 30-day free trial plan and find perfect image, that will help you with your new project.</div>
						<button class="content-button">Start free trial</button>
					</div>

					<!-- <div id="home-chart"></div> -->
					<div id="container-speed" class="chart-container" style="width: 270px;height: 200px;"></div>
				</div>

				<!-- https://codepen.io/abhilashn/pen/GraJyp -->
				<div class="content-section">
					<div class="content-section-title">Vendedoras</div>
					<ul class="flex-container">
						<li class="adobe-product">
							<div class="products">
								<div is="m-bring" data-src="../img/photoshop.svg"></div>
								Photoshop
							</div>

							<span class="status">
								<span class="status-circle green"></span>
								Updated
							</span>

							<div class="button-wrapper">
								<button class="content-button status-button open">Open</button>
								<div class="menu">
									<button class="dropdown">
										<ul>
											<li><a href="#">Go to Discover</a></li>
											<li><a href="#">Learn more</a></li>
											<li><a href="#">Uninstall</a></li>
										</ul>
									</button>
								</div>
							</div>
						</li>

						<li class="adobe-product">
							<div class="products">
								<div is="m-bring" data-src="../img/illustrator.svg"></div>
								Illustrator
							</div>

							<span class="status">
								<span class="status-circle"></span>
								Update Available
							</span>

							<div class="button-wrapper">
								<button class="content-button status-button">Update this app</button>
								<div class="pop-up">
									<div class="pop-up__title">Update This App
										<div is="m-bring" data-src="../img/close.svg"></div>
									</div>

									<div class="pop-up__subtitle">Adjust your selections for advanced options as desired before continuing.
										<a href="#">Learn more</a>
									</div>

									<div class="checkbox-wrapper">
										<input type="checkbox" id="check1" class="checkbox">
										<label for="check1">Import previous settings and preferences</label>
									</div>

									<div class="checkbox-wrapper">
										<input type="checkbox" id="check2" class="checkbox">
										<label for="check2">Remove old versions</label>
									</div>

									<div class="content-button-wrapper">
										<button class="content-button status-button open close">Cancel</button>
										<button class="content-button status-button">Continue</button>
									</div>
								</div>

								<div class="menu">
									<button class="dropdown">
										<ul>
											<li><a href="#">Go to Discover</a></li>
											<li><a href="#">Learn more</a></li>
											<li><a href="#">Uninstall</a></li>
										</ul>
									</button>
								</div>
							</div>
						</li>

						<li class="adobe-product">
							<div class="products">
								<div is="m-bring" data-src="../img/after_effects.svg"></div>
								After Effects
							</div>

							<span class="status">
								<span class="status-circle green"></span>
								Updated
							</span>

							<div class="button-wrapper">
								<button class="content-button status-button open">Open</button>
								<div class="menu">
									<button class="dropdown">
										<ul>
											<li><a href="#">Go to Discover</a></li>
											<li><a href="#">Learn more</a></li>
											<li><a href="#">Uninstall</a></li>
										</ul>
									</button>
								</div>
							</div>
						</li>
					</ul>

					<table id="themeTable" class="sortable-theme-bootstrap" data-sortable >
						<thead>
							<tr>
								<th data-sortable="false" data-sorted="false">Vendedora</th>
								<th data-sorted="false">Usage</th>
									<th data-sorted="false">Initial release</th>
									<th data-sorted="true" data-sorted-direction="descending">Stable version</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="products">
										<div is="m-bring" data-src="../img/photoshop.svg"></div>
										Photoshop
									</div>
								</td>
								<td>42.68%</td>
								<td data-value="2008">September 2, 2008</td>
								<td>31.0.1650.57</td>
							</tr>
							<tr>
								<td>Firefox</td>
								<td>20.01%</td>
								<td data-value="2002">September 23, 2002</td>
								<td>25.0.1</td>
							</tr>
							<tr>
								<td>Opera</td>
								<td>1.03%</td>
								<td data-value="1994">Late 1994</td>
								<td>18.0.1284.49</td>
							</tr>
							<tr>
								<td>Internet Explorer</td>
								<td>25.44%</td>
								<td data-value="1995">August 16, 1995</td>
								<td>11.0.1</td>
							</tr>
							<tr>
								<td>Safari</td>
								<td>8.39%</td>
								<td data-value="2003">January 7, 2003</td>
								<td>7.0</td>
							</tr>
							<tr>
								<td>Other</td>
								<td data-value="0">2.44%</td>
								<td data-value="-1"></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="content-section">
					<div class="content-section-title">Apps in your plan</div>
					<div class="apps-card">
						<div class="app-card">
							<span>
								<div is="m-bring" data-src="../img/premiere_pro.svg"></div>
								Premiere Pro
							</span>

							<div class="app-card__subtext">Edit, master and create fully proffesional videos</div>
							<div class="app-card-buttons">
								<button class="content-button status-button">Update</button>
								<div class="menu"></div>
							</div>
						</div>

						<div class="app-card">
							<span>
								<div is="m-bring" data-src="../img/indesign.svg"></div>
								InDesign
							</span>

							<div class="app-card__subtext">Design and publish great projects & mockups</div>
								<div class="app-card-buttons">
								<button class="content-button status-button">Update</button>
								<div class="menu"></div>
							</div>
						</div>

						<div class="app-card">
							<span>
								<div is="m-bring" data-src="../img/after_effects.svg"></div>
								After Effects
							</span>

							<div class="app-card__subtext">Industry Standart motion graphics & visual effects</div>
							<div class="app-card-buttons">
								<button class="content-button status-button">Update</button>
								<div class="menu"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="overlay-app"></div>
</div>