
<nav class="sidebar" role="navigation">
	<ul class="acortree side-wrapper">
		<li>
			<div class="navigation-link">
				<span class="anima-arrow"><span></span><span></span></span>
				<div class="side-title">Indicadores</div>
			</div>

			<ul class="acortree-sub side-menu">
				<li>
					<a href="#">
						<div is="m-bring" data-src="../img/apps.svg"></div>
						Todas as Lojas
						<span class="notification-number updates">3</span>
					</a>
				</li>

				<li>
					<a href="#">
						<div is="m-bring" data-src="../img/store.svg"></div>
						Bay Market
					</a>
				</li>

				<li>
					<a href="#">
						<div is="m-bring" data-src="../img/store.svg"></div>
						Park Shopping
					</a>
				</li>

				<li>
					<a href="#">
						<div is="m-bring" data-src="../img/store.svg"></div>
						Norte Shopping
					</a>
				</li>

				<li>
					<a href="#">
						<div is="m-bring" data-src="../img/store.svg"></div>
						Nova America
					</a>
				</li>

				<li>
					<a href="#">
						<div is="m-bring" data-src="../img/store.svg"></div>
						Barra Shopping
					</a>
				</li>

				<li>
					<a href="#">
						<div is="m-bring" data-src="../img/store.svg"></div>
						Grande Rio
					</a>
				</li>

				<li>
					<a href="#">
						<div is="m-bring" data-src="../img/store.svg"></div>
						Caxias Shopping
					</a>
				</li>

				<li>
					<a href="#">
						<div is="m-bring" data-src="../img/store.svg"></div>
						Carioca Shopping
					</a>
				</li>

				<li>
					<a href="#">
						<div is="m-bring" data-src="../img/store.svg"></div>
						Park Jacarepagua
					</a>
				</li>

				<li>
					<a href="#">
						<div is="m-bring" data-src="../img/store.svg"></div>
						7 de Setembro
					</a>
				</li>

				<li>
					<a href="#">
						<div is="m-bring" data-src="../img/store.svg"></div>
						Bangu
					</a>
				</li>

				<li>
					<a href="#">
						<div is="m-bring" data-src="../img/store.svg"></div>
						Marechal Floriano
					</a>
				</li>
			</ul>
		</li>

		<li class="salers">
			<div class="navigation-link">
				<span class="anima-arrow"><span></span><span></span></span>
				<div class="side-title">Vendedoras</div>
			</div>

			<ul class="acortree-sub side-menu">
				<li>
					<a href="#">
						<div is="m-bring" data-src="../img/photography.svg"></div>
						Photography
					</a>
				</li>

				<li>
					<a href="#">
						<div is="m-bring" data-src="../img/graphics.svg"></div>
						Graphic Design
					</a>
				</li>

				<li>
					<a href="#">
						<div is="m-bring" data-src="../img/video.svg"></div>
						Video
					</a>
				</li>

				<li>
					<a href="#">
						<div is="m-bring" data-src="../img/brush.svg"></div>
						Illustrations
					</a>
				</li>


				<li>
					<a href="#">
						<div is="m-bring" data-src="../img/monitor.svg"></div>
						UI/UX
					</a>
				</li>


				<li>
					<a href="#">
						<div is="m-bring" data-src="../img/cube3d.svg"></div>
						3D/AR
					</a>
				</li>
			</ul>
		</li>
	</ul>

	<div class="side-wrapper">
		<div class="side-title">Financeiro</div>
		<div class="side-menu">
			<a href="#">
				<div is="m-bring" data-src="../img/fonts.svg"></div>
				Other things
			</a>
		</div>
	</div>


	<div class="side-wrapper">
		<div class="side-title">Recursos</div>
		<div class="side-menu">
			<a href="#">
				<div is="m-bring" data-src="../img/stock.svg"></div>
				Quebra de Caixa
			</a>

			<a href="#">
				<div is="m-bring" data-src="../img/student.svg"></div>
				Carteira Prazo
			</a>

			<a href="#">
				<div is="m-bring" data-src="../img/portfolio.svg"></div>
				Portfolio
			</a>

			<a href="#">
				<div is="m-bring" data-src="../img/behance.svg"></div>
				Behance
			</a>

			<a href="#">
				<div is="m-bring" data-src="../img/msg.svg"></div>
				Social Forum
			</a>
		</div>
	</div>
	</div>
</nav>